body {
    font-family: 'Courier New', Courier, monospace;
    
}
header{
    background-color: #333;
    color: white;
        padding: 1em;
        width: 30%;
        text-align: center;
        margin:auto
}
.dark_text {
    background-color: #333;
    color: white;
        padding: 1em;
        width: 30%;
        text-align: center;
        margin:auto
}